In [1]:
import pandas as pd # type: ignore
import seaborn as sns # type: ignore
import matplotlib.pyplot as plt # type: ignore

plt.style.use('dark_background') # I love dark mode.

In [2]:
# Load the data
drs_data = pd.read_excel("../data/drs_data.xlsx", header=0)
# Print the total number of challenges in the dataset
print("Total number of challenges in the dataset: ", drs_data.shape[0])

Total number of challenges in the dataset:  197

In [3]:
drs_data.groupby(by=["Review By", "Innings"]).size().reset_index(name='counts')

   Review By  Innings  counts
0        CSK        1       5
1        CSK        2       8
2         DC        1      10
3         DC        2       7
4         GT        1      13
5         GT        2      11
6        KKR        1      11
7        KKR        2      11
8        LSG        1      12
9        LSG        2       2
10        MI        1      18
11        MI        2      11
12      PBKS        1      11
13      PBKS        2       7
14       RCB        1      13
15       RCB        2      10
16        RR        1       9
17        RR        2      10
18       SRH        1       7
19       SRH        2      11